<!--The content below is only a placeholder and can be replaced.-->
<div class= "container-fluid" *ngFor= "let items of alumnos">
 <div class="col-sm-3">
   <div class="col-sm-6">
     <img src="{{items.imagen}}" width="100" height="150">
     <h5>Nombre:{{items.item}}</h5>
     <hr>
     <h5>Precio:{{items.precio}}</h5>
     <button onclick="carrito()" >Comprar</button>
   </div>
 </div>
</div>
