<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Atlas</title>
</head>
<body class="container">

  <div ng-app="ejemplos" ng-controller="c1" class="container">
    <div class="form-inline">
      <input ng-model="fact.cliente" placeholder="cliente o concepto de la factura" class="form-control" size="100">   
      <button ng-click="guardar()" class="btn btn-default"> guardar factura </button>
      <button ng-click="nueva()" class="btn btn-default"> nueva factura </button>
  
    </div>
    
    <button ng-click="fact.lineas.push({concepto: '', cantidad: 1, precio: 1})" class="btn btn-default"> añadir concepto </button>
    <hr>

    <div ng-repeat="(index, linea) in fact.lineas" class="container row">
      <div class="col-1">
          <button ng-click="fact.lineas.splice(index, 1)" class="btn btn-default"> borrar </button>
      </div>
      <div class="col-5">       
        <input type="text" ng-model="linea.concepto" class="form-control">
      </div>
      <div class="col-2">
        <input type="number" ng-model="linea.cantidad" class="form-control">    
      </div>
      <div class="col-2">
        <input type="number" ng-model="linea.precio" class="form-control">    
      </div>
      <div class="col-2">
       <span class="text-danger img-thumbnail float-right">{{ (linea.cantidad * linea.precio).toFixed(2) }}</span>
      </div>      
    </div>
    <div class="text-danger img-thumbnail float-right" ng-bind="fact.importe().toFixed(2)"></div>
  <br><br>
  <h3> facturas anteriores</h3>    
  <hr>
    <div ng-repeat="f in facturas">
      <span ng-click="selecciona(f)"> {{f.cliente}} </span>       
    </div>

  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
class Factura {
  constructor(){
    this.cliente = '';
    this.lineas = [];
  }
  importe(){
    let importe = 0
    this.lineas.forEach( linea => importe += linea.cantidad * linea.precio)
    return importe
  }
  guardar(scope, http){
    http.post('http://192.168.105.179:3000/update', this).then( resp => {
      if (resp.data.upserted ) { this._id = resp.data.upserted[0]._id }
      else { console.log(resp.data) }
      Factura.listar(scope, http)
    })
  }
  static listar(scope, http){
    http.get('http://192.168.105.179:3000/domingo/posts').then( resp => scope.facturas = resp.data )
  }
}
angular.module('ejemplos', [])
.controller('c1', function($scope, $http) {      
  // listar facturas de Mongo Atlas
  Factura.listar($scope, $http)
  // crear factura vacia:
  $scope.fact = new Factura()
  // botones para el view
  $scope.guardar = function(){ $scope.fact.guardar($scope, $http)}
  $scope.nueva = function(){ $scope.fact = new Factura() }
  $scope.selecciona = function(f){  Object.assign($scope.fact, f) }
})
</script>